# Keybindings require three things to be fully defined: A selector that is
# matched against the focused element, the keystroke and the command to
# execute.
#
# Below is a basic keybinding which registers on all platforms by applying to
# the root workspace element.

# For more detailed documentation see
# https://atom.io/docs/latest/behind-atom-keymaps-in-depth
'atom-workspace':
  'ctrl-alt-o': 'debug-workbench-atom:toggle'

# Prevent Atom from hijacking keystrokes meant for Polymer components...
# unfortunately this only works for elements outside the shadow DOM, to get this working for
# elements inside the shadow DOM it seems you have to override the bindings on the host element
# (either here or by applying the native-key-bindings class to the host element).
'paper-input':
  'backspace': 'native!'
  'delete': 'native!'
  'home': 'native!'
  'end': 'native!'
  'left': 'native!'
  'right': 'native!'
